.page[b-kc989pta5g] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main[b-kc989pta5g] {
    flex: 1;
}

.top-row[b-kc989pta5g] {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.content[b-kc989pta5g] {
    padding: 1rem;
}

@media (min-width: 641px) {
    .top-row[b-kc989pta5g] {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}
