@namespace BlazorApp.Features.VesselPlacement.Components.LoadingSpinner

<div class="text-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">@Message</span>
    </div>
    <p class="mt-2">@Message</p>
</div>
