.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.top-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.content {
    padding: 1rem;
}

@media (min-width: 641px) {
    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}
