@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 py-2 bg-primary text-white">
            <h4 class="mb-0">Vessel Placement Simulator</h4>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
